{% extends 'base.html' %}
{% block body %}
{% for student in student %}
<div class="content container-fluid">
    <div class="page-header m-5">
        <div class="row">
            <div class="col ">
                <h3 class="page-title">Profile</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Profile</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row  m-4">
        <div class="col-md-12">
            <div class="profile-header">
                <div class="row align-items-center">
                    <div class="col-auto profile-image">
                        <a href="{% url 'stdprofile' student.id %}">
                            <img class="rounded-circle" alt="User Image" src="{{student.image.url}}">
                        </a>
                    </div>
                    <div class="col ml-md-n2 profile-user-info">
                        <h4 class="user-name mb-0">{{student.firstname|capfirst}}</h4>
                        <h6 class="text-muted">Class: {{student.classNo}}</h6>
                        <div class="user-Location"><i class="fas fa-map-marker-alt"></i> {{student.presentAddress}}</div>
                        <div class="about-text">{{student.phone}}</div>
                    </div>
                    <div class="col-auto profile-btn">
                        <a href="{% url 'studentedit' student.id %}" class="btn btn-primary">
                           Edit
                        </a>
                    </div>
                </div>
            </div>
            <div class="profile-menu">
                <ul class="nav nav-tabs nav-tabs-solid">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#per_details_tab">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#password_tab">Password</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content profile-tab-cont">
                <div class="tab-pane fade show active" id="per_details_tab">
                    <div class="row">
                        <div class="col-lg-9 m-5">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between">
                                        <span>Personal Details</span>
                                        <a class="edit-link" href="{% url 'studentedit' student.id %}"><i class="far fa-edit mr-1"></i>Edit</a>
                                    </h5>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Student ID</p>
                                        <p class="col-sm-9">{{student.studentId|capfirst}}</p>
                                     </div>
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">First Name</p>
                                       <p class="col-sm-9">{{student.firstname|capfirst}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Last Name</p>
                                        <p class="col-sm-9">{{student.lastname|capfirst}}</p>
                                    </div>
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Date of Birth</p>
                                       <p class="col-sm-9">{{student.dob}}</p>
                                    </div>
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Gender</p>
                                       <p class="col-sm-9">{{student.gender}}</p>
                                    </div>
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mobile</p>
                                       <p class="col-sm-9">{{student.phone}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Class</p>
                                        <p class="col-sm-9">{{student.classNo}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Religion</p>
                                        <p class="col-sm-9">{{student.religion}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Admission No</p>
                                        <p class="col-sm-9">{{student.admissionNo}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Section</p>
                                        <p class="col-sm-9">{{student.section}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">IN_Class</p>
                                        <p class="col-sm-9">{{student.in_class}}</p>
                                    </div>
                                    
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title d-flex justify-content-between">
                                        <span>Parental Details</span>
                                    </h5>
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Father Name</p>
                                       <p class="col-sm-9">{{student.fatherName|capfirst}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Father Occupation</p>
                                        <p class="col-sm-9">{{student.fatherOccupation|capfirst}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Father Mobile No.</p>
                                        <p class="col-sm-9">{{student.fatherMobile|capfirst}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mother Name</p>
                                        <p class="col-sm-9">{{student.motherName|capfirst}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mother Occupation</p>
                                        <p class="col-sm-9">{{student.motherOccupation|capfirst}}</p>
                                    </div>
                                    <div class="row">
                                        <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mother Mobile No.</p>
                                        <p class="col-sm-9">{{student.motherMobile|capfirst}}</p>
                                    </div>
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Present Address</p>
                                       <p class="col-sm-9">{{student.presentAddress}}</p>
                                    </div>
                                    <div class="row">
                                       <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Permanent Address</p>
                                       <p class="col-sm-9">{{student.permanentAddress}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="password_tab" class="tab-pane fade">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Change Password</h5>
                            <div class="row">
                                <div class="col-md-10 col-lg-6">
                                    <form method="post" action="#">
                                       <div class="form-group">
                                          <label>Old Password</label>
                                          <input type="password" class="form-control">
                                       </div>
                                       <div class="form-group">
                                          <label>New Password</label>
                                          <input type="password" class="form-control">
                                       </div>
                                       <div class="form-group">
                                          <label>Confirm Password</label>
                                          <input type="password" class="form-control">
                                       </div>
                                       <button class="btn btn-primary" type="submit">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock body %}
